@model UserCreateModel
<form asp-action="Register" asp-controller="User" method="post" class="p-3 w-75 mx-auto shadow">
    <div class="mb-3"> 
        <label asp-for="UserName" ></label>
        <input asp-for="UserName" class="form-control" />
        <span  asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="mb-3"> 
        <label  asp-for="Password" ></label>
        <input  asp-for="Password" type="password" class="form-control" />
        <span  asp-validation-for="Password" class="text-danger"></span>
        <input type="checkbox" onclick="myFunction()">Show Password
    </div>
     <div class="mb-3"> 
        <label asp-for="ConfirmPassword" ></label>
        <input asp-for="ConfirmPassword" type="password" class="form-control" />
        <span  asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="mb-3"> 
        <label asp-for="Email" ></label>
        <input asp-for="Email" class="form-control" />
        <span  asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="mb-3"> 
        <label asp-for="Age" ></label>
        <input asp-for="Age" class="form-control" />
        <span  asp-validation-for="Age" class="text-danger"></span>
    </div>
    <div class="mb-3"> 
        <label asp-for="Phone" ></label>
        <input asp-for="Phone" class="form-control" />
        <span  asp-validation-for="Phone" class="text-danger"></span>
    </div>
    <div class="text-danger mt-2" asp-validation-summary="ModelOnly">

    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Register</button>
    </div>
</form>

<script>
    function myFunction() {
  var pas = document.getElementById("Password");
  var con = document.getElementById("ConfirmPassword");
  if (pas.type === "password" && con.type === "password"  ) {
    pas.type = "text";
    con.type = "text";
  } else {
    pas.type = "password";
    con.type = "password";
  }
}
</script>